<style>
    .product-name {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product-name:hover {
        max-width: 200px;
        overflow: visible;
        white-space: wrap;
        /* text-overflow: ellipsis; */
    }
</style>


<%- include('navbar') %>

    <div class="container my-5" style="min-height: 100vh;">
        <h5 style="font-family: 'Montserrat', sans-serif; display: flex; justify-content: center;">Available coupons</h5>
        <!-- <a href="/admin/add-coupons" class="btn btn-secondary">Add Coupon</a> -->

        <table class="table table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sl.no:</th>
                    <th scope="col">Coupon</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Minimum Amount</th>
                    <th scope="col">Expiry date</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% coupons.forEach((coupon,index)=> { %>
                    <tr>
                        <th scope="row">
                            <%= (currentPage - 1) * 8 + index + 1 %>
                        </th>
                        <td class="product-name">
                            <%= coupon.couponName %>
                        </td>
                        <td>
                             <%= coupon.discount %> 
                        </td>
                        <td>
                            <%= coupon.minAmount %>
                        </td>
                        <td>
                            Expires on: <%= new Date(coupon.expiryDate).toLocaleDateString() %>
                        </td>
                        <td>
                            <% if(coupon.isActive){ %>
                                <span class="badge bg-success">Active</span>
                                <% }else{ %>
                                    <span class="badge bg-danger">Inactive</span>
                                <% } %>
                          </td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="/admin/edit-coupon/<%= coupon._id %>" class="text-dark me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <% if(coupon.isActive){ %>
                                    <button class="btn text-danger me-2" onclick="blockCoupon('<%= coupon._id %>')"><i
                                            class="fa-solid fa-lock"></i></button>
                                    <% } else { %>
                                        <button class="btn text-success me-2"
                                            onclick="unblockCoupon('<%= coupon._id %>')"><i
                                                class="fa-solid fa-lock-open"></i></button>
                                        <% } %>
                                        <button class="btn text-primary" onclick="deleteCoupon('<%= coupon._id %>')">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <%- include('pagination') %>
        
    </div>


    <%- include('footer') %>

        <script>
            //Delete coupon
            function deleteCoupon(couponID) {
        Swal.fire({
            icon: "question",
            title: "Delete coupon",
            text: "Are you sure you want to remove the coupon?",
            showCancelButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                const URL = `/admin/delete-coupon/${couponID}`
                fetch(URL, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': "application/json"
                    }
                }).then((res) => {
                    if (res.ok) {
                        Swal.fire({
                            icon: 'success',
                            title: "Coupon deleted",
                            showConfirmButton: false,
                            timer: 900
                        }).then(() => {
                            window.location.reload()
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: "Error",
                            text: "Failed to delete the coupon"
                        })
                    }
                }).catch((err) => {
                    console.log("Error on coupon deleting", err)
                    Swal.fire({
                        icon: 'error',
                        title: "Error",
                        text: "Failed to delete the coupon"
                    })
                })
            }
        })
    }
            //block coupon
            function blockCoupon(couponID) {
                Swal.fire({
                    icon: 'question',
                    title: "block coupon",
                    text: "Are you sure, you want to block the coupon?",
                    showCancelButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        const URL = `/admin/block-coupon/${couponID}`
                        fetch(URL, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': "application/json"
                            }
                        }).then((res) => {
                            if (res.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'coupon Blocked ',
                                    showConfirmButton: false,
                                    timer: 900
                                }).then(() => {
                                    window.location.reload()
                                })
                            }
                        }).catch((err) => {
                            console.log(`error on coupon blocking ${err}`);
                        })
                    }
                })
            }


            //unblock coupon
            function unblockCoupon(couponID) {
                Swal.fire({
                    icon: "question",
                    title: "Unblock coupon",
                    text: "Are you sure want to unblock the coupon?",
                    showCancelButton: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        const URL = `/admin/unblock-coupon/${couponID}`
                        fetch(URL, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': "application/json"
                            }
                        }).then((res) => {
                            if (res.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: "coupon unblocked",
                                    showConfirmButton: false,
                                    timer: 900
                                }).then(() => {
                                    window.location.reload()
                                })
                            }
                        }).catch((err) => {
                            console.log("error on coupon unblocking", err);
                        })
                    }
                })
            }
        </script>