<%- include('navbar') %>
    <div class="container my-5" style="min-height: 100vh;">
        <h1>Customers</h1>

        <table class="table table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sl.no:</th>
                    <th scope="col">Customers</th>
                    <th scope="col">Email Addresses</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% userDetails.forEach((user, index)=> { %>
                    <tr>
                        <th scope="row">
                            <%= (currentPage - 1) * 8 + index + 1 %>
                        </th>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <% if(user.isBlocked){ %>
                                    <!-- Show unblock button -->
                                    <button class="btn btn-success me-2" onclick="unblockUser('<%= user._id %>')">
                                        Unblock
                                    </button>
                                    <% } else { %>
                                        <!-- Show block button -->
                                        <button class="btn btn-danger me-2" onclick="blockUser('<%= user._id %>')">
                                            Block
                                        </button>
                                        <% } %>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <% if (currentPage> 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <% } %>
            </ul>
        </nav>
    </div>

    <%- include('footer') %>

        <script>
            //  block user
            function blockUser(userId) {
                Swal.fire({
                    icon: 'question',
                    title: "Block User",
                    text: "Are you sure you want to block this user?",
                    showCancelButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        const URL = `/admin/block-user/${userId}`;
                        fetch(URL, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': "application/json"
                            }
                        }).then((res) => {
                            if (res.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'User Blocked',
                                    showConfirmButton: false,
                                    timer: 900
                                }).then(() => {
                                    window.location.reload();
                                });
                            }
                        }).catch((err) => {
                            console.log(`Error on user blocking ${err}`);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Failed to block user',
                            });
                        });
                    }
                });
            }

            //  unblock user
            function unblockUser(userId) {
                Swal.fire({
                    icon: 'question',
                    title: "Unblock User",
                    text: "Are you sure you want to unblock this user?",
                    showCancelButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        const URL = `/admin/unblock-user/${userId}`;
                        fetch(URL, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': "application/json"
                            }
                        }).then((res) => {
                            if (res.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'User Unblocked',
                                    showConfirmButton: false,
                                    timer: 900
                                }).then(() => {
                                    window.location.reload();
                                });
                            }
                        }).catch((err) => {
                            console.log(`Error on user unblocking ${err}`);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Failed to unblock user',
                            });
                        });
                    }
                });
            }
        </script>