<%- include('navbar') %>

    <style>
        .form-horizontal {
            background-color: rgb(220, 220, 220);
        }
    </style>

    <div class="container mt-5">
        <!-- Form Name -->
        <legend class="text-center mb-4 font-weight-bold">Add PRODUCTS</legend>
        <form id="form-edit-product" class="form-horizontal mb-5 p-5 border rounded" action="/admin/addProduct"
            method="post" style="min-height: 100vh;">
            <fieldset>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="product_name">PRODUCT NAME</label>
                    <div class="col-md-6">
                        <input id="product_name" name="edit-product_name" class="form-control" type="text"
                            value="<%= productDetails.productName %>">
                        <label class="col-md-12 text-danger validate-edit-product" for="available_quantity"></label>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="product_price">PRODUCT PRICE</label>
                    <div class="col-md-6">
                        <input id="product_price" name="edit-product_price" class="form-control" type="text">
                        <label class="col-md-12 text-danger validate-add-product" for="available_quantity"></label>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="product_categorie"> CATEGORY</label>
                    <div class="col-md-6">
                        <select id="product_categorie" name="product_categorie" class="form-control">
                            <option value="<%= productDetails.category %>" disabled selected>
                                <%= productDetails.category.categoryName %>
                            </option>
                        </select>
                        <label class="col-md-12 text-danger validate-add-product" for="available_quantity"></label>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="available_quantity">QUANTITY</label>
                    <div class="col-md-6">
                        <input id="available_quantity" name="edit-available_quantity" class="form-control" type="text">
                        <label class="col-md-12 text-danger validate-add-product" for="available_quantity"></label>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="available_brand">BRAND</label>
                    <div class="col-md-6">
                        <input id="available_brand" name="edit-available_brand" class="form-control" type="text">
                        <label class="col-md-12 text-danger validate-add-product" for="available_brand"></label>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="product_description">PRODUCT
                        DESCRIPTION</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="edit-product_description" name="product_description"
                            rows="10"></textarea>
                        <label class="col-md-12 text-danger validate-add-product" for="available_quantity"></label>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="percentage_discount">DISCOUNT</label>
                    <div class="col-md-6">
                        <input id="percentage_discount" name="edit-percentage_discount" class="form-control" type="text">
                        <label class="col-md-12 text-danger validate-add-product" for="available_quantity"></label>
                    </div>
                </div>



                <!-- File Button -->
                <!--div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="filebutton">MAIN IMAGE</label>
                    <div class="col-md-6">
                        <input id="filebutton" name="filebutton" class="form-control-file" type="file">
                    </div>
                    </div-->

                <!-- Button -->
                <div class="form-group row ">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <a href="/admin/products" class="btn btn-danger">Cancel</a>
                    </div>

                </div>

            </fieldset>
        </form>
    </div>

    <%- include('footer') %>

        <script>

            const editProductForm = document.getElementById('form-edit-product')
            const productName = document.getElementById('edit-product_name')
            const price = document.getElementById('edit-product_price')
            const category = document.getElementById('product_categorie')
            const quantity = document.getElementById('edit-available_quantity')
            const brand = document.getElementById('edit-available_brand')
            const description = document.getElementById('edit-product_description')
            const discount = document.getElementById('edit-percentage_discount')


            editProductForm.addEventListener('submit', (event) => {
                event.preventDefault()
                document.getElementsByClassName('validate-edit-product')[0].innerHTML = ''
                document.getElementsByClassName('validate-edit-product')[1].innerHTML = ''
                document.getElementsByClassName('validate-edit-product')[5].innerHTML = ''
                document.getElementsByClassName('validate-edit-product')[2].innerHTML = ''
                document.getElementsByClassName('validate-edit-product')[3].innerHTML = ''
                document.getElementsByClassName('validate-edit-product')[4].innerHTML = ''
                document.getElementsByClassName('validate-edit-product')[6].innerHTML = ''

                let validate = true

                if (productName.value.trim() === 0 || productName.value.length > 150 || !isNaN(productName.value)) {
                    document.getElementsByClassName('validate-edit-product')[0].innerHTML = 'mention product name'
                    validate = false
                }

                if (price.value > 1000000 || isNaN(price.value) || price.value <= 0) {
                    document.getElementsByClassName('validate-edit-product')[1].innerHTML = 'edit price'
                    validate = false

                }
                if (!category.value) {
                    document.getElementsByClassName('validate-edit-product')[2].innerHTML = 'select any category'
                    validate = false
                }
                if (quantity.value > 100000 || isNaN(quantity.value) || quantity.value <= 0) {
                    document.getElementsByClassName('validate-edit-product')[3].innerHTML = 'edit the quantity'
                    validate = false

                }
                if (brand.value.trim() === 0 || brand.value.length > 50 || !isNaN(brand.value)) {
                    document.getElementsByClassName('validate-edit-product')[4].innerHTML = 'edit the brand name'
                    validate = false
                }
                if (description.value.trim() === 0 || description.value.length > 500 || !isNaN(description.value) || description.value.length < 5) {
                    document.getElementsByClassName('validate-edit-product')[5].innerHTML = 'discription cannot be empty and at least in 6 characters'
                    validate = false
                }
                if (discount.value > 1000000 || isNaN(discount.value) || discount.value <= 0) {
                    document.getElementsByClassName('validate-edit-product')[6].innerHTML = 'edit discount field'
                    validate = false

                }

                if (validate) {
                    editProductForm.submit()
                }

            })





        </script>