<%- include('navbar') %>

    <style>
        .form-horizontal {
            background-color: rgb(220, 220, 220);
        }

        .image-div {
            width: 200px;
            height: 200px;
            overflow: hidden;
        }

        .image-div img {
            border-radius: 10px;
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
    </style>

    <div class="container mt-5">
        <!-- Form Name -->
        <legend class="text-center mb-4 font-weight-bold">Edit PRODUCT DETAILS</legend>
        <form id="form-edit-product" class="form-horizontal mb-5 p-5 border rounded" enctype="multipart/form-data"
            action="/admin/edit-product/<%= productDetails._id %>" method="post" style="min-height: 100vh;">
            <fieldset>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="edit-product_name">PRODUCT NAME</label>
                    <div class="col-md-6">
                        <input id="edit-product_name" name="edit-product_name" class="form-control" type="text"
                            value="<%= productDetails.productName %>">
                        <label class="col-md-12 text-danger validate-edit-product" for="edit-product_name"></label>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="edit-product_price">PRODUCT PRICE</label>
                    <div class="col-md-6">
                        <input id="edit-product_price" name="edit-product_price" class="form-control" type="text"
                            value="<%= productDetails.productPrice %>">
                        <label class="col-md-12 text-danger validate-edit-product" for="edit-product_price"></label>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="product_categorie"> CATEGORY</label>
                    <div class="col-md-6">
                        <select id="product_categorie" name="product_categorie" class="form-control">
                            <option value="<%= productDetails.category._id %>" selected>
                                <%= productDetails.category.categoryName %>
                            </option>
                        </select>
                        <label class="col-md-12 text-danger validate-edit-product" for="product_categorie"></label>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="edit-available_quantity">QUANTITY</label>
                    <div class="col-md-6">
                        <input id="edit-available_quantity" name="edit-available_quantity" class="form-control"
                            type="text" value="<%= productDetails.productQuantity %>">
                        <label class="col-md-12 text-danger validate-edit-product"
                            for="edit-available_quantity"></label>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="edit-available_brand">BRAND</label>
                    <div class="col-md-6">
                        <input id="edit-available_brand" name="edit-available_brand" class="form-control" type="text"
                            value="<%= productDetails.brand %>">
                        <label class="col-md-12 text-danger validate-edit-product" for="edit-available_brand"></label>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="product_description">PRODUCT
                        DESCRIPTION</label>
                    <div class="col-md-6">
                        <textarea class="form-control" id="product_description" name="product_description"
                            rows="10"><%= productDetails.productDescription %></textarea>
                        <label class="col-md-12 text-danger validate-edit-product" for="product_description"></label>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="edit-percentage_discount">DISCOUNT</label>
                    <div class="col-md-6">
                        <input id="edit-percentage_discount" name="edit-percentage_discount" class="form-control"
                            type="text" value="<%= productDetails.discount || '' %>">
                        <label class="col-md-12 text-danger validate-edit-product"
                            for="edit-percentage_discount"></label>
                    </div>
                </div>


                <!-- In your edit product form -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right" for="product_image">Images</label>
                    <div class="col-md-6">
                        <div id="image-preview" class="mb-3">
                            <% productDetails.image.forEach((img, index)=> { %>
                                <div class="image-container d-inline-block position-relative mr-2 mb-2">
                                    <img src="/<%= img %>" alt="Product Image" class="img-thumbnail"
                                        style="width: 100px; height: 100px;" onclick="initCropper(this)">
                                    <button type="button" class="btn btn-danger btn-sm position-absolute"
                                        style="top: 5px; right: 5px;"
                                        onclick="deleteImage('<%= productDetails._id %>', '<%= index %>')">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <input type="hidden" name="existingImages[<%= index %>]" value="<%= img %>">
                                </div>
                                <% }) %>
                        </div>
                        <input id="product_image" name="product_image" class="form-control-file" type="file"
                            accept="image/*" multiple onchange="previewImages(event)">
                    </div>
                </div>

                <!-- Add this modal for image cropping -->
                <div class="modal fade" id="cropper-modal" tabindex="-1" role="dialog"
                    aria-labelledby="cropperModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cropperModalLabel">Crop Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="cropper-container"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="crop-image">Crop</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- File Button -->
                <!-- <div class="form-group">
                    <label class="col-md-4 control-label" for="product_image">Image</label>
                    <div class="col-md-4">
                        <input id="product_image" name="product_image" class="input-file" type="file"
                            accept="image/png, image/jpeg" multiple>
                        <label class="col-md-12 text-danger validate-add-product" for="available_quantity"></label>
                    </div>
                </div> -->

                <!-- image preview -->
                <div class="container my-4 text-center">
                    <div id="imageContainer">
                    </div>
                </div>



                <!-- Button -->
                <div class="form-group row ">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" type="submit" onclick="validateForm()">Submit</button>
                        <a href="/admin/products" class="btn btn-danger">Cancel</a>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <%- include('footer') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
        <script>
            // Define variables in the global scope
            let cropper;
            let currentImage;
            let cropModalInstance;
            let currentImageIndex;
            let croppedImages = {};

            function previewImages(event) {
                var previewContainer = document.getElementById('image-preview');
                var files = event.target.files;

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var previewImage = document.createElement('div');
                        previewImage.classList.add('image-container', 'd-inline-block', 'position-relative', 'mr-2', 'mb-2');

                        var imgElement = document.createElement('img');
                        imgElement.classList.add('img-thumbnail');
                        imgElement.style.width = '100px';
                        imgElement.style.height = '100px';
                        imgElement.src = e.target.result;

                        imgElement.onclick = function () {
                            initCropper(this);
                        };

                        var deleteButton = document.createElement('button');
                        deleteButton.type = 'button';
                        deleteButton.classList.add('btn', 'btn-danger', 'btn-sm', 'position-absolute');
                        deleteButton.style.top = '5px';
                        deleteButton.style.right = '5px';
                        deleteButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
                        deleteButton.onclick = function () {
                            previewContainer.removeChild(previewImage);
                        };

                        previewImage.appendChild(imgElement);
                        previewImage.appendChild(deleteButton);
                        previewContainer.appendChild(previewImage);
                    };

                    reader.readAsDataURL(file);
                }
            }

            function deleteImage(productId, index) {
                if (confirm('Are you sure you want to delete this image?')) {
                    window.location.href = `/admin/delete-single-image/${index}/${productId}`;
                }
            }

            function initCropper(img) {
                currentImageIndex = Array.from(img.parentNode.parentNode.children).indexOf(img.parentNode);
                const modal = new bootstrap.Modal(document.getElementById('cropper-modal'));
                modal.show();
                cropModalInstance = modal;

                const cropperContainer = document.getElementById('cropper-container');
                cropperContainer.innerHTML = '';
                const clonedImg = img.cloneNode(true);
                cropperContainer.appendChild(clonedImg);

                if (cropper) {
                    cropper.destroy();
                }

                cropper = new Cropper(clonedImg, {
                    aspectRatio: 1,
                    viewMode: 1,
                    minContainerWidth: 400,
                    minContainerHeight: 400,
                });

                currentImage = img;
            }

            document.getElementById('cropper-modal').addEventListener('hidden.bs.modal', function () {
                if (cropper) {
                    cropper.destroy();
                    cropper = null;
                }
            });

            document.getElementById('crop-image').onclick = function () {
                const croppedCanvas = cropper.getCroppedCanvas();
                croppedCanvas.toBlob((blob) => {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        // Store the cropped image data
                        croppedImages[currentImageIndex] = e.target.result;

                        // Update the image in the preview
                        currentImage.src = URL.createObjectURL(blob);
                        currentImage.setAttribute('data-cropped', 'true');
                        cropModalInstance.hide();
                    };
                    reader.readAsDataURL(blob);
                }, 'image/jpeg');
            };

            // Add event listener for form submission
            document.addEventListener('DOMContentLoaded', function () {
                const form = document.getElementById('form-edit-product');
                if (form) {
                    form.addEventListener('submit', function (e) {
                        e.preventDefault();

                        // Create a FormData object
                        const formData = new FormData(this);

                        // Append cropped images to the form data
                        Object.keys(croppedImages).forEach(index => {
                            formData.append(`croppedImages[${index}]`, croppedImages[index]);
                        });

                        // Send the form data to the server
                        fetch(this.action, {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    window.location.href = '/admin/products';
                                } else {
                                    alert('Failed to update product: ' + data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('An error occurred while updating the product');
                            });
                    });
                }
            });
        </script>