<style>
    .cart-container {
        min-height: 100vh;
    }

    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
    }

    .w-xl {
        min-width: 160px;
    }

    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .empty-cart {
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<%-include('navbar') %>
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link  ms-0" href="/profile" target="__blank">Profile</a>
            <a class="nav-link  " href="/security" target="__blank">Security</a>
            <a class="nav-link active " href="/orders" target="__blank">Orders</a>
            <a class="nav-link  " href="/cancelled-orders" target="__blank">Cancelled Orders</a>
            <a class="nav-link   " href="/wallet" target="__blank">Wallet</a>


        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="container pt-5 cart-container">
                <div class="row">

                    <%if(orders.length!=0){ %>
                        <% orders.forEach((order,index)=>{ %>
                            <div class="col-xl-8">
                                <div class="card border shadow-none">
                                    <div class="card-body">

                                        <% order.products.forEach((product,index)=>{ %>

                                            <!-- row start -->
                                            <div class="d-flex align-items-start border-bottom pb-3">
                                                <div class="me-4">
                                                    <a href="/product-view/<%= product.productID.id %>">
                                                        <img src="../../<%=product.productImage%>" alt=""
                                                            class="avatar-lg rounded"></a>
                                                </div>
                                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                                    <div>
                                                        <h5 class="text-truncate font-size-18">
                                                            <a href="/product-view/<%= product.productID.id %>">
                                                                <%= product.productName%>
                                                            </a>

                                                        </h5>
                                                        <p class="text-muted mb-0">
                                                            <i class="bx bxs-star text-warning"></i>
                                                            <i class="bx bxs-star text-warning"></i>
                                                            <i class="bx bxs-star text-warning"></i>
                                                            <i class="bx bxs-star text-warning"></i>
                                                            <i class="bx bxs-star-half text-warning"></i>
                                                        </p>
                                                        <p class="mb-0 mt-1">Brand : <span class="fw-medium">
                                                                <%= product.brand%>
                                                            </span></p>
                                                        <p class="mb-0 mt-1">Quantity : <span class="fw-medium">
                                                                <%= product.quantity %>
                                                            </span></p>
                                                        <%if(product.discount>0){%>
                                                            <span class="badge bg-danger">
                                                                <%=product.discount %> % OFF
                                                            </span>
                                                            <p class="mb-0 mt-1">Price : <span class="fw-medium">
                                                                    <span class="text-muted me-2"><del
                                                                            class="font-size-16 fw-normal">&#8377;
                                                                            <%= product.price%>
                                                                        </del></span>
                                                                    &#8377; <%=
                                                                        (product.price*(1-product.discount/100)).toLocaleString()%>
                                                                </span></p>
                                                            <%}else{%>
                                                                <span class="badge bg-dark">
                                                                    offer unavailable
                                                                </span>
                                                                <p class="mb-0 mt-1">Price :
                                                                    &#8377; <%= product.price.toLocaleString()%>
                                                                        </span></p>
                                                                <%}%>
                                                    </div>
                                                </div>

                                            </div>
                                            <% }) %>
                                                <!-- row end -->

                                                <div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">Order status</p>
                                                                <b class="mb-0 mt-2  badge">
                                                                    <%=order.orderStatus %>
                                                                </b>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="mt-3 ">
                                                                <p class="text-muted mb-2">Payment method</p>
                                                                <b>
                                                                    <%=order.paymentMethod %>
                                                                </b>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2 total-count-box  ">Total</p>
                                                                <h5 class="product-total-box">&#8377;
                                                                    <%= order.totalPrice.toLocaleString() %>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-xl-4">
                                <div class="card border shadow-none">
                                    <div class="card-body">
                                        <div class="flex-shrink-0 ms-2">
                                            <ul class="list-inline font-size-16">
                                                <% if(order.orderStatus !=='Delivered' ){ %>
                                                    <% if(order.orderStatus==='Pending-Returned' ){ %>
                                                        <b class="mb-0 mt-2 text-success">
                                                            Return request sent at <%= order.updatedAt.toLocaleString()
                                                                %>
                                                        </b>
                                                        <% } else { %>
                                                            <button class="btn btn-danger"
                                                                onclick="cancelOrder('<%= order.id %>')">Cancel
                                                                Order</button>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <b class="mb-0 mt-2 text-success">
                                                                        Successfully <%= order.orderStatus %> at <%=
                                                                                order.updatedAt.toLocaleString() %>
                                                                    </b>
                                                                    <% } %>

                                            </ul>
                                        </div>
                                        <p><b>Address: </b>
                                            <%= order.address.homeAddress%>,
                                                <br>
                                                <%= order.address.landmark %>,

                                                    <%=order.address.areaAddress%>,<br>
                                                        <%=order.address.pincode%>
                                                            <br>
                                                            <%=order.address.city %>,
                                                                <%= order.address.state %>
                                        </p>
                                        <p> <b style="color: #ff6200;">Order placed on :</b>
                                            <%=order.createdAt.toLocaleString() %>
                                        </p>
                                        <% if(order.orderStatus==='Delivered' ){%>
                                            <button class="btn btn-warning"
                                                onclick="returnOrder('<%= order.id%>')">Return order</button>
                                            <%}%>

                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% }else{ %>
                                    <div class="empty-cart">No Orders yet</div>
                                    <% } %>

                </div>
                <!-- end row -->

            </div>
        </div>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <% if (currentPage> 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <% } %>
            </ul>
        </nav>
    </div>


    <%- include('footer') %>

        <!-- The Modal for cancellation -->
        <div class="modal" id="cancellation-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Reason for Cancellation</h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form id="reasonForm" method="post" action="/cancel-order">
                            <div class="form-group">
                                <textarea class="form-control" rows="8" id="message" name="cancelledReason"></textarea>
                            </div>
                            <div class="form-group mt-4 text-center">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of the modal -->

        <!-- The Modal for return-request -->
        <div class="modal" id="return-request-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Reason for Requesting return order</h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form id="returnRequestForm" method="post" action="/return-request-order">
                            <div class="form-group">
                                <textarea class="form-control" rows="8" id="message" name="returningReason"></textarea>
                            </div>
                            <div class="form-group mt-4 text-center">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <!-- end of the modal -->

        <script>

            //styling the payment methid, giving different backgrounds for each payment methods
            const paymentBadge = document.querySelectorAll('.badge')


            paymentBadge.forEach(element => {
                if (element.innerHTML.trim() === 'Pending') {
                    element.classList.add('bg-primary', 'text-white')
                }
                if (element.innerHTML.trim() === 'Confirmed') {
                    element.classList.add('bg-success', 'text-white')
                }
                if (element.innerHTML.trim() === 'Shipping') {
                    element.classList.add('bg-info', 'text-white')
                }
                if (element.innerHTML.trim() === 'Delivered') {
                    element.classList.add('bg-success', 'text-white')
                }
                if (element.innerHTML.trim() === 'Pending-Returned') {
                    element.classList.add('bg-warning', 'text-dark')
                }
                if (element.innerHTML.trim() === 'Returned') {
                    element.classList.add('bg-warning', 'text-dark')
                }
                if (element.innerHTML.trim() === 'Cancelled') {
                    element.classList.add('bg-danger', 'text-white')
                }
            })


            //cancel order

            function cancelOrder(orderid) {
                swal.fire({
                    icon: 'warning',
                    title: 'Cancel Order',
                    text: 'Are you sure, do you want to cancel the order?',
                    showCancelButton: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        var cancelModal = new bootstrap.Modal(document.getElementById('cancellation-modal'), {});
                        cancelModal.show();
                        document.getElementById('reasonForm').action = `/cancel-order/${orderid}`
                    }
                })
            }


            //return order
            function returnOrder(orderid) {
                swal.fire({
                    icon: 'warning',
                    title: 'Return Order',
                    text: 'Are you sure, do you want to return the order?',
                    showCancelButton: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        var cancelModal = new bootstrap.Modal(document.getElementById('return-request-modal'), {});
                        cancelModal.show();
                        document.getElementById('returnRequestForm').action = `/return-request-order/${orderid}`
                    }
                })
            }

        </script>